<li class="row-fluid">
  <div class="span9">
    <ideascore class="<%= " inactive" if idea.upvotes.size -  idea.downvotes.size == 0 %>">
    <%- if current_user %>
      <%= link_to upvote_idea_path(idea) do %>
        <i class="icon-angle-up votebutton" title="Vote Up"></i><% end %>
    <% end %>      
      <div class="votecount"><%= idea.upvotes.size -  idea.downvotes.size %></div>
      <%- if current_user %>
        <%= link_to downvote_idea_path(idea) do %>
          <i class="icon-angle-down votebutton" title="Vote Down"></i><% end %>
      <% end %>
    </ideascore>
    <%= link_to idea.title, idea_path(idea.id), :class => 'ideatitle' %>
    <p><%= idea.description %></p>
    <p class="commentCount<%= " inactive" if idea.comments.size %>">
      <%= link_to pluralize( idea.comments.size, "comment" ), idea_path(idea.id) %>
    </p>
  </div>
  <div class="span3">
<<<<<<< HEAD
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_idea_path(idea), :class => 'btn btn-mini' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                idea_path(idea),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-mini btn-danger' %>
  </div>
=======
		<%- if current_user %>
			<% if current_user.is_admin? %>
				<%= link_to t('.edit', :default => t("helpers.links.edit")), edit_idea_path(idea), :class => 'btn btn-mini' %>
				<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
																	idea_path(idea),
																	:method => :delete,
																	:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
																	:class => 'btn btn-mini btn-danger' %>
			<% end %>

			<%= link_to upvote_idea_path(idea) do %>
			<i class="icon-thumbs-up" title="Vote Up"></i><% end %>
			<%= link_to downvote_idea_path(idea) do %>
			<i class="icon-thumbs-down" title="Vote Down"></i><% end %>
		<% else %>
		  <%= link_to "Login to Vote", :new_user_session %>
		<% end %>
	</div>
>>>>>>> 59101d53ec534bc68563af8dbae7650055732cff
</li>