<%= form_for @status, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :color, :class => 'control-label'%>
    <div class="controls">
      <%= f.text_field :color, :class => 'span2' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :icon, :class => 'control-label'%>
    <div class="controls">
      <div class="input-prepend span4">
        <span class="add-on">icon-</span>
        <%= f.text_field :icon %>
      </div>
      <span class="help-block">List of available icons can be found on <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">font-awesome</a>.</span>
    </div>

  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                statuses_path, :class => 'btn' %>
  </div>
<% end %>
